<% include ./partials/header %>
<style>
.wrapper {
  width:80%;
  margin:5%;
}
</style>
<div class='wrapper'>

  <button type="button" name="button"> <a href="/logout">LOGOUT</a> </button>
<form style='display:inline' action='' method=''>
  <div class="form-group">
    <label for="exampleFormControlInput1">CAMP TITILE</label>
    <input type="text" class="form-control" value="<%= camp.name %>" id="exampleFormControlInput1" placeholder="title" readonly>
  </div>
  <div class="form-group" >
    <label for="exampleFormControlInput1">CAMP IMAGE</label>

    <img class="card-img-top" src='<%= camp.image %>' alt="Card image cap" style="width:18%;height:5%">
    </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">DESCRIPTION</label>
    <textarea  class="form-control"  id="exampleFormControlTextarea1" rows="3" readonly><%= camp.description %></textarea>
  </div>
  <div class="form-group">
  <button class='btn btn-secondary'> <a href='/camp/<%= camp._id %>/edit'> UPDATE</a></button>
   </div>
</form>
<div class="jumbotron jumbotron-fluid">
  <div class="container" align='center' >
    <p>This is Comment section of the application</p>
    <div><% include ./comment %></div>
  </div><hr>
  <div style="display:inline">
  <% camp.posts.forEach(function (com, i) { %>
    <div align=left style="margin-left:10%">
    <a href='/comment/<%= com._id %>'>
<p style="display:inline"> <strong><%= com.author %></strong> : <%= com.title %> </p>
</a>

</div>
    <% }) %>
  </div>
</div>
</div>


<% include ./partials/footer %>
