<% include ./partials/header %>
<style>
.wrapper {
  width:80%;
  margin:5%;
}
</style>
<div class='wrapper'>
<form style='display:inline' action='/camp/<%= camp._id %>?_method=PUT' method='post'>
  <div class="form-group">
    <label for="exampleFormControlInput1">CAMP TITILE</label>
    <input type="text" name='camp[name]' class="form-control" value="<%= camp.name %>" id="exampleFormControlInput1" placeholder="title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">CAMP IMAGE</label>
    <input type="text" name='camp[image]' class="form-control" value='<%= camp.image %>' id="exampleFormControlInput1" placeholder="title">
</div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">DESCRIPTION</label>
    <textarea name='camp[description]' class="form-control"  id="exampleFormControlTextarea1" rows="3"><%= camp.description %></textarea>
  </div>
  <div class="form-group">

  <input type="submit" name=""class="btn btn-primary mb-2" value="submit">  </div>
</form>
<form style='display:inline' class="" action="/camp/<%= camp._id %>?_method=DELETE" method="post">

<input type="submit" name="" value="DELETE THE POST" class="btn btn-danger">
</form>
</div>

<% include ./partials/footer %>
